[user]
    name = OrigamiKing3612
    email = origamiking3612@gmail.com
	signingkey = CEA9B0737769BCAF
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = master
[commit]
	gpgsign = true
[tag]
	gpgSign = true
